#cards{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
}

#titulo{
    margin-top: 10px;
    background-color: #18122B;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    color: white;
}