
  <div id="titulo" class="container-fluid">
    <h3>Albums recomendados de la semana</h3>
  </div>


<div id="cards" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://i.pinimg.com/564x/0f/06/0c/0f060cf2e14d2fc960ee56d4904980cb.jpg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Around the fur</h5>
          <p class="card-text">Artista: Deftones</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://img.discogs.com/GwyjCSRsMTNsAiPyKj4gkMB8LNY=/fit-in/500x500/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-12681173-1539954191-5281.jpeg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Koi no yokan</h5>
          <p class="card-text">Artista: Deftones</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://t2.genius.com/unsafe/600x600/https://images.genius.com/663cbc3e59e110a5c95db7fd0b9a6895.1000x1000x1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">HandMade</h5>
          <p class="card-text">Artista: Craneo</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="https://th.bing.com/th/id/R.173442e83368b5aa537c6e46962576fe?rik=dVM5oHNNmakhyA&pid=ImgRaw&r=0" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Gray / Grey</h5>
            <p class="card-text">Artista: $uicideBoy$</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://th.bing.com/th/id/OIP.kddJ1-LBhsw_bPCCbJHJugHaHa?pid=ImgDet&rs=1" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Radical Suicide</h5>
            <p class="card-text">Artista: $uicideBoy$</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://i.scdn.co/image/ab67616d0000b273a2ebe3b8f85149a043a7ebb5" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Loteria Mexicana</h5>
            <p class="card-text">Artista: Under Side 821</p>
          </div>
        </div>
      </div>
  </div>
