<div id="titulo" class="container-fluid">
  <h3>Albums recomendados de la semana</h3>
</div>

<div id="cards" class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="../../..assets/around the fur.jpeg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Around the fur</h5>
        <p class="card-text">Artista: Deftones</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="../../../assets/koi no yokan.jpeg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Koi no yokan</h5>
        <p class="card-text">Artista: Deftones</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/handmade.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">HandMade</h5>
        <p class="card-text">Artista: Craneo</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="../../../assets/Gray_grey.jfif"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Gray / Grey</h5>
        <p class="card-text">Artista: $uicideBoy$</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="../../../assets/Radical Suicide.jfif"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Radical Suicide</h5>
        <p class="card-text">Artista: $uicideBoy$</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="../../../assets/under side.jpeg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Loteria Mexicana</h5>
        <p class="card-text">Artista: Under Side 821</p>
      </div>
    </div>
  </div>
</div>
