

#login{
    margin-top: 50px;
    
    text-align: center;
}

#form{
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;

}

#boton{
    margin-bottom: 30px;
}

#input2{
    margin-bottom: 30px;
}

#input1{
    margin-top: 30px
}

h1, p{
    color: white;
    text-transform: uppercase;
}

